<section>
  <div class="content ">
    <button type="button" class="close btn p-0 border-0" (click)="fnCloseDeleteMember.emit()">
      <i class="rojo bi bi-x-square-fill "></i>
    </button>
    <div class="d-flex align-items-center justify-content-center mb-4">
      <h3>Eliminar socio</h3>
    </div>
    <div class="container">
      <input class="form-control" type="text" placeholder="DNI/NIE">
    </div>
    <div class="d-flex justify-content-center pt-3 m-3">
      <button class="delete btn text-white" type="submit">Eliminar</button>
    </div>
  </div>
</section>
