#fondo{
  width: 100vw;
  min-height: 100vh;
  background-color: #EEF7EA;
}
.boton-1{
  background-color: #F9DD6B;
}
.boton-2{
  background-color: #6DA0FF;
}
.boton-3{
  background-color: #FA6164;
}
.caja-buscador{
  background-color: white;
  border:1px solid black;
  padding:3px 5px;
  border-radius: 5px;
}
.buscador{
  outline: none;
  border: none;
  background-color: transparent;
}
thead,th{
  background-color:#65B865 ;
}
