<section class="">
  <div class="content">
    <div class="div-1 d-flex align-items-center justify-content-between">
      <p class="azul">socio nº1</p>
      <button type="button" class="close btn p-0  border-0">
        <i class="cross bi bi-x-square-fill text-danger"></i>
      </button>
    </div>
    <div class="info d-flex gap-1 justify-content-center mt-2">
      <i class="bi bi-info-circle-fill"></i>
      <h4>Info</h4>
    </div>
    <div class="estilo-div"><p>Carmen</p></div>
    <div class="estilo-div"><p>López Guzmán</p></div>
    <div class="estilo-div"><p>Carmen@gmail.com</p></div>
    <div class="estilo-div"><p>605841252</p></div>
    <div class="estilo-div"><p>06009390C</p></div>
    <div class="estilo-div"><p>Carmen</p></div>
  </div>
</section>
